* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: transparent;
    overflow: hidden;
    font-family: "Segoe UI";
}

.card {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 300px;
    height: 75px;
    padding: 12px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(50, 50, 50, 0.6), rgba(15, 15, 15, 0.7));
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    box-shadow: 
        0 15px 35px rgba(0, 0, 0, 0.5),
        inset 0 1px 0 rgba(255, 255, 255, 0.1);
    transform: translateX(120%);
    opacity: 0;
    transition:
        transform 0.35s cubic-bezier(.22, 1, .36, 1),
        opacity 0.35s;
}

#cover {
    width: 60px;
    height: 60px;

    flex-shrink: 0;

    object-fit: cover;
    border-radius: 16px;
}

.content {
    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

#artist {
    margin-top: 2px;

    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.now-playing {
    display: flex;
    align-items: center;
    gap: 6px;

    margin-top: 6px;

    color: rgba(255, 255, 255, 0.65);
    font-size: 10px;
    letter-spacing: 1px;
}

.dot {
    width: 6px;
    height: 6px;

    border-radius: 50%;

    background: #58ff8d;
    box-shadow: 0 0 8px #58ff8d;
}